* {
    background-color: rgb(216, 216, 216);
  }

.header {
    background-color: rgb(250, 250, 250); 
    padding: 50px;
    margin-bottom: 10px;
    border-color: rgb(233, 182, 134);
    border-style: solid;
    border-Width: 0px 0px 2px 0px;
    font-size: 1.4em;
    background-image: url("../Assets/imgs/mainPageImg02.png");
    min-height: 200px;
    background-position-y: -000px;
    vertical-align: middle;
    background-size: cover;
}


.footer {
    margin: 0%;
    padding: 0%;
    margin-top: 10px;
    height: 100px;
    border-style: solid;
    border-Width: 1px 0px 0px 0px;
    padding: 10px;
    background-color: rgb(39, 44, 46);
}


body{
    
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}


.navbar{
    padding: 0%;
    border-color: rgb(4, 214, 241);
    border-style: solid;
    border-Width: 0px 0px 2px 0px;
    margin: 0px 0px 0px 0px;
    font-size: 1.4em;
    margin-left: 10px;
    
}

.topnav{
    display: table;
    height: 80px;
    background-color: aliceblue;
    margin-left: 5%;
    width: 90%;
    border-radius: 10px 10px 10px 10px;
}

#SearchBarId{
    display: table-cell;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
    border: rgb(53, 53, 53);
    width: 400px;
    vertical-align: middle;
    text-indent: 30px;
    outline:rgb(26, 66, 100);
    background-color: aliceblue;
}


.topnav a{
    display: table-cell;
    font-size: 0.9em;
    vertical-align: middle;
    color: black;
    text-align: center;
    padding-right: 50px;
    background-color: aliceblue;
    border-style: solid;
    border-width: 0 0 0 2px;
    border-color:rgb(235, 235, 235);
}

#carrinhoId
{
    border-radius: 0px 10px 10px 0px;
    background-color: aliceblue;
    
}

.grid-conta{
    display: grid;
    place-items: center;
}