body{
    background-color:rgb(248, 248, 248);
    color: #7EBCE6;
    font-family: Arial;
}

h1{
    color: #8980F5;
}

h2{
    color: #69D1C5;
}

.section--container_responsive{
    width: 700px; 
    margin-left: auto;
    margin-right: auto; 
    float: left;
    
}

input.input--register {
    /* junta os inputs */
    float: left;
    /* estilos adicionais */
    border: none;
    margin: 30px;
    width: 400px;
    
}

.generaltext{
    margin: 30px;
}

.input_main_style_input--button{
    margin: 40px;
    float: left;
    width: 50%;
}